header{
    margin-top: 10px;
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
}
.container .row{
    margin-top: 20px;
}
.container .col-md-4{
    padding: 5px 10px 10px 10px;
}
.col-md-4 a{
    text-decoration: none;
}
.container .buyit{
    background-color: #FFFFFF;
}
.buy_content{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.buy_content h4{
    color: black;
    padding-top: 10px;
}
.buy_content p{
    color: orange;
}
.buy_content .btn{
    margin-bottom: 15px;
}
.functionbox-set{
    margin-top: 100px;
}
.functionbox{
    margin-bottom: 20px;
    position: relative;
    width: 80%;
    height: 50px;
    background: #CEFFCE;
    border-radius: 10px;
}
.function-content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.function-details{
    padding: 40px;
    text-align: center;
    width: 100%;
}
.function-details a{
    font-size: 1.25em;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}