<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個人資料</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/leaderboard.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/JsBarcode.all.min.js"></script>
</head>
<body style="background-color: beige;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}">&ensp;蕃薯國碳治郎</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/member/">個人資訊</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              碳權點數
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/productlist/">碳權點數商城</a></li>
              <li><a class="dropdown-item" href="/passbook/">碳權存摺</a></li>
              <li><a class="dropdown-item" href="/qrcode/">條碼專區</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/question/">問題回報</a>
          </li>
        </ul>
        <form action="/signout/" class="text-end">
          <button type="submit" class="btn btn-outline-light me-2">Logout</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container" id="container-2">
    <div class="aaa">
      <h2>你的牌位</h2>
    </div>
    <div class="row row-cols-2" >
      <div class="col">
        <div class="imgbox" id="imgbox-content">
          <img src="{{ pic }}">
        </div> 
        <div class="imgbox-content-1">
          <h3>{{ name }}</h3>
        </div>
      </div>
      <div class="col">
        <div class="col">
          <div class="imgbox" >
            <img src="/static/img/{{present.rankimg}}">
          </div>
        </div>
        <div class="name">
          <h3>{{ present.rankname }}</h3>
          <h3>{{ present.rankengname }}</h3>
        </div>
          <div class="name1">
          <span>碳權點數：{{ mem.GPOINT }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="container-content">
    <div class="aaa">
    <h2>牌位等級介紹</h2>
    </div>
    <div class="row row-cols-2">
      {% for info in rank %}
      <div class="col">
        <div class="imgbox">
          <img src="/static/img/{{info.rankimg}}">
        </div>
      </div>
      <div class="col">
        <div class="name">
          <h3>{{ info.rankname }}</h3>
          <h3>{{ info.rankengname }}</h3>
        </div>
            <div class="name1">
            <span>碳權點數：>{{ info.rankpoint }}</span>
         </div>
      </div>
      {% endfor %}

  </div>
   
  <a href="/productlist/"><button type="button" class="btn btn-outline-success" id="button-last">點數商店</button></a>  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous">
  </script>
</body>

</html>